:host {
  display: block;
}

.planet-input__control {
  background-color: #FFFFFF;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 16px;
  position: relative;
}

.planet-input__label {
  display: block;
  font-size: 15px;
}

.planet-input__area {
  font-size: 22px;
  font-weight: 600;
  position: relative;
}

.planet-input__message {
  background-color: #FF3945;
  box-sizing: border-box;
  color: #FFFFFF;
  color: rgba(255, 255, 255, .85);
  font-size: 17px;
  z-index: -2;
  margin-top: -8px;
  padding: 22px 16px 16px 16px;
  position: relative;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.planet-input__message:empty {
  display: none;
}

input, select {
  border: none;
  display: block;
  outline: none;
  padding: 0;
  width: 100%;
  font-size: 22px;
  font-weight: 600;
}

.planet-input__value {
  font-size: 17px;
  font-weight: 600;
}

/* Toggle */
.planet-input__toggle + label {
  cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 30px;
	background: #4B94FF;
	display: block;
	border-radius: 100px;
	position: relative;
}

.planet-input__toggle + label:after {
  content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 20px;
	height: 20px;
	background: #FFFFFF;
	border-radius: 90px;
	transition: 0.3s;
}

.planet-input__toggle {
	height: 0;
	width: 0;
	visibility: hidden;
}

.planet-input__toggle:checked + label {
	background: #75CC31;
}

.planet-input__toggle:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.planet-input__toggle + label:active:after {
	width: 24px;
}

.planet-input__options {
  box-sizing: border-box;
  position: absolute;
  background-color: #CCCCCC;
  border-radius: 4px;
  margin-top: 4px;
  left: -8px;
  right: -8px;
  z-index: 100;
  padding: 8px;
}

.planet-input__option {
  background-color: #EAEAEA;
  box-sizing: border-box;
  cursor: pointer;
  padding: 6px;
}

.planet-input__option--focused {
  background-color: #6fb0be;
}

.planet-input__option:hover {
  background-color: #82ccdd;
}

.planet-input__option + .planet-input__option {
  border-top: 1px solid #CCCCCC;
}