:host {
  display: block;
}

::slotted(planet-button:not(:first-child)), planet-button:not(:first-child) {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

::slotted(planet-button:not(:last-child)), planet-button:not(:last-child) {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}