:host {
  display: inline-block;
}

.button {
  --box-shadow-color: var(--button--background-color--shadow);
  background-color: var(--button--background-color);
  border-radius: var(--button--border-radius);
  border: none;
  box-shadow: 0 var(--padding-1) var(--box-shadow-color);
  box-sizing: border-box;
  color: var(--button--color);
  cursor: pointer;
  display: inline-block;
  font-size: var(--button--font-size);
  font-weight: var(--button--font-weight);
  margin-bottom: var(--padding-1);
  margin-top: calc(-1 * var(--padding-1));
  outline: none;
  padding: var(--padding-2) var(--padding-6);
  text-align: center;
  transition: all .3s;
}

.button--mini {
  font-size: var(--button--font-size--mini);
  margin-top: calc(-1 * var(--padding-half));
  padding: var(--padding-2) var(--padding-4);
}

button:focus {
  text-decoration: underline;
}

button:hover {
  background-color: var(--button--background-color--hover);
  --box-shadow-color: var(--button--background-color--shadow--hover);
}

button:active {
  background-color: var(--button--background-color--active);
  --box-shadow-color: var(--button--background-color--shadow--active);
}

.button:disabled, .button[disabled] {
  background-color: var(--button--background-color--disabled);
  --box-shadow-color: var(--button--background-color--shadow--disabled);
  transform: translateY(var(--padding-1));
}

.button:active {
  box-shadow: 0 var(--padding-half) var(--box-shadow-color);
  transform: translateY(var(--padding-1));
}

.button--error {
  background-color: #FF3945;
  --box-shadow-color: #E9333D;
}

.button--error:hover {
    background-color: rgb(240, 55, 67);
    --box-shadow-color: rgb(220, 48, 57);
}

.button--error:active {
    background-color: rgb(216, 49, 60);
    --box-shadow-color: rgb(193, 42, 49);
}

.button--success {
  background-color: #75CC31;
  --box-shadow-color: #69B82C;
}

.button--success:hover {
  background-color: rgb(106, 187, 43);
  --box-shadow-color: rgb(96, 167, 41);
}

.button--success:active {
  background-color: rgb(97, 172, 40);
  --box-shadow-color: rgb(86, 150, 38);
}

.button--full {
  display: block;
  width: 100%;
}