body {
    font-family: sans-serif;
    margin: 0;
}

:root {
    --alert--background-color: #ecc66c;
    --alert--font-size: 20px;
    --alert--weight: 600;
    --alert--line-height: 1.6;
    --alert--padding: 16px 0 16px 0;

    --color--text-complementary: rgba(255, 255, 255, .8);
    --color--text-header: rgba(0, 0, 0, .85);

    --row: 0 -8px;
    --col: 0 8px;

    --padding-1: 4px;
    --padding-2: 8px;
    --padding-3: 12px;
    --padding-4: 16px;
    --padding-6: 24px;

    --copyright-bar--background: #1a1a1a;
    --copyright-bar--color: rgba(255, 255, 255, .8);
    --copyright-bar--font-size: 18px;
    --copyright-bar--height: 70px;
    --copyright-bar--text-align: center;

    --footer--background: #4c4c4d;
    --footer--min-height: 220px;
    --footer--padding: 16px 0 16px 0;

    --footer-link--border: 1px solid rgba(255, 255, 255, 0.1);
    --footer-link--color: rgba(255, 255, 255, .6);
    --footer-link--line-height: 1.4;
    --footer-link--font-size: 16px;

    --footer-list-title--color: rgba(255, 255, 255, .8);
    --footer-list-title--font-size: 24px;

    --severity-error--background-color: #e98396;
    --severity-info--background-color: #96e5eb;
    --severity-success--background-color: #b7eba3;
    --severity-warning--background-color: #ecc66c;

    --title-of-group--color: rgba(255, 255, 255, .8);
    --title-of-group--font-size: 21px;
    --title-of-group--margin: 0 0 8px 0;
    --title-of-group--padding: 4px 0;

    --title-of-page--font-size: 2.7rem;
    --title-of-page--font-size-small: 5.5vw;
    --title-of-page--margin: 0;
    --title-of-page--padding: 20px 0 12px 0;
    --title-of-page--text-align: left;
    --title-of-page--text-align-small: center;
    --title-of-page--weight: 700;

    --wrapper-margin: 0 auto;
    --wrapper-padding: 0 16px 0 16px;
}

planet-alert + planet-alert {
    margin-top: 4px;
}