:host {
  display: block;
}

.crud__actions {
  line-height: 80px;
  text-align: right;
}

planet-pagination + planet-button-group {
  margin-left: 10px;
}

.form-section planet-column {
  margin-top: 12px;
}

.form-section planet-column:first-child, .form-section planet-column:nth-child(2) {
  margin-top: 0;
}

.modal-actions {
  margin-top: 16px;
}