:host {
  display: block;
  box-sizing: border-box;
  font-size: var(--title-of-group--font-size);
  font-weight: bold;
  padding: var(--title-of-group--padding);
  color: var(--footer--color, var(--color--text-complementary));
}
