:host {
  display: block;
  background-color: var(--card-content--background-color);
  border-radius: var(--card-content--border-radius);
  font-size: var(--card-content--font-size);
  font-weight: var(--card-content--font-weight);
  line-height: var(--card-content--line-height);
  padding: var(--card-content--padding);
}
