:host {
  box-sizing: border-box;
  padding: var(--col);
  display: block;
  flex: 1;
  max-width: 25%;
  min-width: 25%;
  margin-bottom: var(--padding-6);
}

@media only screen and (max-width: 960px) {
  :host {
    max-width: 50%;
    min-width: 50%;
  }
}

planet-title-of-group {
  color: var(--footer-list-title--color, var(--title-of-group--color));
}